@model FindMyPet.Models.Pet
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <div class="titleDiv">
                <h1 class="display-3 classTitle"><strong>Pet Details Page</strong></h1>
            </div>
            <br />
            <hr class="display-3" />

            <div class="">


                <br />
                <h2 class="display-4"><strong class="right">Type</strong> : <i class="left">@Model.Type</i></h2>
                <br />

                <br />
                <h2 class="display-5"><strong class="right2">Name</strong> : <i class="left2">@Model.Name</i></h2>
                <br />

                <br />
                <h2 class="display-5"><strong class="right3">Status</strong> : <i class="left3">@Model.Status</i></h2>
                <br />


                <img width="500" class="forms card-image-top img-fluid img-thumbnail" src="@Model.ImageUrl" />
                <br />
                <br />


                @if (Model.Age != null)
                {

                    <h2>
                        <strong class="left">Age</strong> : <i class="right">@Model.Age</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="left">Age</strong> : <i class="right">Not specified</i>
                    </h2>
                }

                <br />

                @if (Model.Breed != null)
                {

                    <h2>
                        <strong class="left">Breed</strong> : <i class="right">@Model.Breed</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="left">Breed</strong> : <i class="right">Not specified</i>
                    </h2>
                }

                <br />

                @if (Model.Color != null)
                {

                    <h2>
                        <strong class="left">Color</strong> : <i class="right">@Model.Color</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="left">Color</strong> : <i class="right">Not specified</i>
                    </h2>
                }
                <br />
                @if (Model.Gender != null)
                {
                    <h2>
                        <strong class="left">Gender</strong> : <i class="right">@Model.Gender</i>
                    </h2>
                }
                else
                {

                    <h2>
                        <strong class="left">Gender</strong> : <i class="right">Not specified</i>
                    </h2>
                }

                <br />

                @if (Model.LocationLost != null)
                {
                    <h2>
                        <strong class="left">Location Lost</strong> : <i class="right">@Model.LocationLost</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="left">Location Lost</strong> : <i class="right">Not specified</i>
                    </h2>
                }

                <br />

                @if (Model.TimeLost != null)
                {

                    <h2>
                        <strong class="left">Time Lost</strong> : <i class="right">@Model.TimeLost</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="left">Time Lost</strong> : <i class="right">Not spcified</i>
                    </h2>
                }


                <br />

                @if (Model.TimeFound != null && Model.TimeFound != new DateTime(0001, 01, 01, 0, 00, 00))
                {

                    <h2>
                        <strong class="left">Time Found</strong> :  <i class="right">@Model.TimeFound</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="left">Time Found</strong> : <i class="right">Not spcified</i>
                    </h2>
                }

                <br />


                @if (Model.Founder != null)
                {
                    <h2>
                        <strong class="left">Founder</strong> : <i class="right">@Model.Founder.FullName</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="left">Founder</strong> : <i class="right">Not Found Yet</i>
                    </h2>
                }

                <br />

                @if (Model.Owner != null)
                {
                    <h2>
                        <strong class="left">Owner</strong> : <i class="right">@Model.Owner.Email</i>
                    </h2>
                }
                else
                {
                    <h2>
                        <strong class="left">Owner</strong> : <i class="right">Not Specified</i>
                    </h2>
                }
                <br />


            </div>

            <div class="left">

                <h2>
                    <strong>Comments</strong>
                </h2>
                <div class="card col-12 thumbnail commentsContainer">
                    <br />

                    @if (Model.Comments.Count < 1)
                    {

                        <div>
                            <h3>No comments posted for this pet.</h3>
                        </div>
                    }
                    else
                    {

                            <div class="card col-12 ">
                        @foreach (var comment in ViewBag.Comments)
                        {

                                <h2>@comment.Content</h2>
                                <span>
                                    Created by
                                    <strong class="profile"><a class="profileLink" asp-area="Admin" asp-controller="Users" asp-action="Profile" asp-route-id="@comment.Creator.Id">@comment.Creator.Email</a></strong>
                                    on
                                    <i>@comment.CreationDate</i>
                                    <br />
                                    <br />

                                    @if (comment.LikeDisabled == false)
                                    {
                                        <strong style="color: darkblue">
                                            <a class="btn btn-sm btn-success likeButton" href="/Admin/Comments/AddLike/@ViewData["CurrentId"].ToString()*@comment.Id.ToString()">Like</a>
                                            :
                                        </strong>
                                    }
                                    else
                                    {
                                        <strong style="color: darkblue">
                                            <a class="btn btn-sm btn-danger removelikeButton" href="/Admin/Comments/RemoveLike/@ViewData["CurrentId"].ToString()*@comment.Id.ToString()">Remove Like</a>
                                            :
                                        </strong>
                                    }

                                    <i>@comment.Likes.Count</i>

                                </span>
                                <br />
                                <br />
                                @if (this.User.Identity.Name == comment.Creator.Email || ViewData["isAdmin"].ToString() == "True")
                                {

                                    <a style="margin: 0 auto" class="btn btn-danger col-3" asp-controller="Pets" asp-action="RemoveCommentFromPet" asp-route-petId="@Model.Id" asp-route-commentId="@comment.Id">
                                        Delete Comment
                                    </a>
                                }
                                <br />
                                <br />
                        }
                            </div>

                    }
                    <br />
                </div>
            </div>

            <br />
            <form method="post" asp-area="Admin" asp-controller="Pets" asp-action="AddCommentToPet" asp-route-id="@Model.Id">

                <h2 class=""><strong>Add Comment</strong></h2>
                <div class="form-group row">
                    <textarea class="form-control commentDescription" name="Description" placeholder="Enter Comment"
                              minlength="10" required></textarea>
                </div>

                <input type="submit" id="btn-add-game" class="btn btn-success btn-lg btn-block" value="Add Comment" />
            </form>

            <br />
            <br />



            <div class="bottom">

                <div class="card-footer text-center">
                    <h1 class="display-3">Actions</h1>
                    <hr />
                    <a class="btn btn-lg btn-primary col-3" asp-area="Admin" asp-controller="Pets" asp-action="All">Back</a>
                    @if (Model.Status == "Lost")
                    {
                        <a class="btn btn-lg btn-success col-3" asp-area="Admin" asp-controller="Pets" asp-action="PetFound" asp-route-id="@Model.Id">Found</a>
                    }
                    @if (Model.Status == "Lost")
                    {

                    }

                    @if (this.User.Identity.Name == Model.Owner.Email || ViewData["isAdmin"].ToString() == "True")
                    {

                        <a class="btn btn-lg btn-warning col-3" asp-area="Admin" asp-route-id="@Model.Id" asp-page="/PetsPages/Edit">Edit</a>
                        <a class="btn btn-lg btn-danger col-3" asp-area="Admin" asp-route-id="@Model.Id" asp-page="/PetsPages/Delete">Delete</a>
                    }


                </div>

                <br />
                <br />

            </div>
        </div>
    </div>
</div>


